html, body, div {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.nav-bar {
    background-color: #1E1E24;
    overflow: hidden;
}

.nav-bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav-bar a:hover {
    background-color: #ddd;
    color: black;
}

.nav-bar a.active {
    background-color: #507DBC;
    color: white;
}

.info {
    height: 80vh;
    background: white;
    width: 94%;
    margin: 3%;
    overflow: auto;
    white-space: pre-line;
}

.left {
    width: 70%;
    height: 100%;
    float: left;
    background: green;
}

.right {
    margin-left: 70%;
    height: 100%;
    background: red;
}