html, body, div {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.nav-bar {
    background-color: #1E1E24;
    overflow: hidden; /* Ensure the navbar contents are contained */
}

.nav-bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav-bar a:hover {
    background-color: #ddd;
    color: black;
}

.nav-bar a.active {
    background-color: #507DBC;
    color: white;
}

.info {
    height: 80vh;
    border-radius: 10px;
    padding: 3%;
    background-color: #49494a;
    color: #ffffff;
    width: 88%;
    margin: 0 auto; /* Center the info section horizontally */
    overflow: auto;
    white-space: normal; /* Allow text to wrap normally */
    word-wrap: break-word; /* Ensure long words break and wrap to the next line */
}

.left {
    width: 70%;
    height: 100%;
    float: left;
    background: green;
}

.right {
    margin-left: 70%;
    height: 100%;
    background: rgb(39, 39, 39);
}

.right input {
    color: white;
    background-color: #49494a;
    margin: 0px 0px 12px 12px;
    width: 78%;
    padding: 3px;
}

.right a {
    background-color: #507DBC;
    text-decoration: none;
    color: white;
    padding: 8px;
    border-radius: 5px;
}
